
pre {
    background: inherit !important;
    font-size: 14px;
    line-height:1.2;
}


@media only screen and (max-width: 600px) {
   
    pre {
        font-size:11;
        max-width: 100%;
    }
  }
body {
    flex-direction: row;
    justify-content: unset;
    margin-left: 1rem;
}
